@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* +++++++++++++++++++++++++++++++++ПРИБРАТИ!!!!!!!!! */
  width: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.team-socials, .team-list, .projects-list, .features-list {
  list-style: none;
}

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-container, .projects-container, .feature-container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-container, .projects-container, .feature-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-container, .projects-container, .feature-container {
    max-width: 1158px;
  }
}
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* +++++++++++++++++++++++++++++++++ПРИБРАТИ!!!!!!!!! */
  width: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.team-socials, .team-list, .projects-list, .features-list {
  list-style: none;
}

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-container, .projects-container, .feature-container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-container, .projects-container, .feature-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-container, .projects-container, .feature-container {
    max-width: 1158px;
  }
}
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/01-hero/mob-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/01-hero/mob-hero-bg@2x.jpg");
  }
}
.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/01-hero/tab-hero-bg.jpg");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/01-hero/tab-hero-bg@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* +++++++++++++++++++++++++++++++++ПРИБРАТИ!!!!!!!!! */
  width: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.team-socials, .team-list, .projects-list, .features-list {
  list-style: none;
}

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-container, .projects-container, .feature-container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-container, .projects-container, .feature-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-container, .projects-container, .feature-container {
    max-width: 1158px;
  }
}
.feature-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 72px;
}

.features-item {
  width: 100%;
}

.features-icon-box {
  display: none;
}

.features-subtitle {
  margin-bottom: 72px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 8px;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-list {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features-subtitle {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list {
    gap: 24px;
    align-items: flex-start;
  }
  .features-item {
    max-width: calc((100% - 72px) / 4);
  }
  .features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 120px;
    background-color: #f4f4fd;
  }
  .features-text {
    font-weight: 400;
  }
}
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* +++++++++++++++++++++++++++++++++ПРИБРАТИ!!!!!!!!! */
  width: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.team-socials, .team-list, .projects-list, .features-list {
  list-style: none;
}

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-container, .projects-container, .feature-container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-container, .projects-container, .feature-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-container, .projects-container, .feature-container {
    max-width: 1158px;
  }
}
.projects-section {
  display: none;
  padding-top: 96px;
  padding-bottom: 96px;
}

.projects-title {
  margin-bottom: 72px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.projects-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .projects-section {
    display: block;
    padding-top: 0;
  }
}
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* +++++++++++++++++++++++++++++++++ПРИБРАТИ!!!!!!!!! */
  width: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.team-socials, .team-list, .features-list, .projects-list {
  list-style: none;
}

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-container, .feature-container, .projects-container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-container, .feature-container, .projects-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-container, .feature-container, .projects-container {
    max-width: 1158px;
  }
}
.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.team-section-title {
  margin-bottom: 72px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  width: 264px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-section-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-item:hover, .team-socials-item:focus {
  background-color: #404bbf;
}

.team-socials-icon {
  fill: #f4f4fd;
}/*# sourceMappingURL=main.css.map */