.container {
  /* width: 100%; */
  max-width: 428px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--paragraph-text-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header */
.header {
  border-bottom: 1px solid var(--additional-not-white-color);
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-logo-part {
  color: var(--accent-color-add);
}

.main-nav-list,
.address-list {
  display: none;
}
.header-mob-btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 22px;
}

.header-mob-icon {
  stroke: var(--main-text-color);
  transition: stroke 250ms var(--timing-function);
}
.header-mob-btn:hover .header-mob-icon,
.header-mob-btn:focus .header-mob-icon {
  stroke: var(--accent-color);
}

/* =======================Hero=================== */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(var(--hero-bgc), var(--hero-bgc)),
    url(../images/01-hero/mob-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--hero-bgc);

  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bgc), var(--hero-bgc)),
      url("../images/01-hero/mob-hero-bg@2x.jpg");
  }
}
.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;

  color: var(--white-color);

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.hero-button {
  padding: 16px 32px;
  min-width: 169px;

  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--accent-color-add);
  color: var(--white-color);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.hero-button:hover {
  background-color: var(--accent-color);
}

/* Features */

.features-subtitle.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}
.features-item {
  width: 100%;
}
.features-icon-box {
  display: none;
}
.features-item > .section-text {
  font-weight: 500;
}

/* ==================We are We Doing================== */

.projects {
  display: none;
  padding-top: 0;
}

/* ==================OurTeam================== */

.team {
  background-color: var(--not-white-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 72px;
}
.team-list-item {
  width: 100%;

  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-content {
  padding: 32px 16px;

  text-align: center;
}
.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--accent-color-add);

  transition: background-color 250ms var(--timing-function);
}
.team-socials-item:hover,
.team-socials-item:focus {
  background-color: var(--accent-color);
}
.team-socials-icon {
  fill: var(--not-white-color);
}

/* ==================Customers section================== */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-item {
  flex-basis: calc((100% - 16px) / 2);
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 88px;
  border: 1px solid var(--customers-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}
.customers-icon {
  width: 110px;
  height: 56px;

  fill: var(--customers-color);

  transition: fill 250ms var(--timing-function);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

/* !!==================Footer!!================== */

.footer {
  background-color: var(--footer-bgc);
}
.container.footer-box {
  padding-left: 15px;
  padding-right: 15px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;

  color: var(--not-white-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo-part {
  color: var(--accent-color-add);
}
.footer-text {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 264px;

  color: var(--additional-not-white-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-socials-text {
  margin: 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white-color);
}
.footer-socials-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
}
.footer-socials-item:hover,
.footer-socials-item:focus {
  background-color: var(--not-green-color);
}
.footer-socials-icon {
  fill: var(--not-white-color);
}

.footer-subscribe {
  width: 100%;
}
.footer-subscribe-text {
  margin: 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white-color);
}
.footer-form-wrap {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: var(--additional-not-white-color);
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;

  background-color: var(--accent-color-add);
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.footer-form-submit:hover {
  background-color: var(--accent-color);
}

.footer-form-icon {
  fill: var(--white-color);
}

/* ===============Backdrop and Modal==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 72px 16px 24px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--white-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--additional-not-white-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.modal-btn-icon {
  fill: #000000;
}
.modal-btn:hover {
  background-color: var(--accent-color);
}
.modal-btn:hover .modal-btn-icon {
  fill: var(--white-color);
}
.contacts-details {
  margin: 0 auto 16px;

  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-form {
  width: 100%;
  /* max-width: 360px; */
}
.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-form-field.comment {
  margin-bottom: 0;
}
.modal-form-field.privacy {
  margin: 16px 0 24px 0;
}
.modal-form-label {
  margin-bottom: 4px;
  padding: 0;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--customers-color);
}

.modal-form-input {
  width: 100%;
  margin: 0;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  color: currentColor;
  background-color: transparent;

  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.modal-form-field.comment .modal-form-input {
  padding-left: 16px;
  height: 120px;
}
.modal-form-input:focus {
  border-color: var(--accent-color-add);
}
.input-wrap {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color-add);
}
.comment .modal-form-input {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.modal-form-input::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.privacy .modal-form-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--main-text-color);
  border-radius: 2px;
  text-align: center;

  fill: transparent;

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.modal-form-check:checked + .modal-form-label > .checkbox {
  border: none;

  background-color: var(--accent-color);
  fill: var(--not-white-color);
}
.modal-form-check:focus + .modal-form-label > .checkbox {
  border-color: var(--accent-color);
}
.modal-form-link {
  margin-left: 4px;

  text-decoration: underline;

  color: var(--accent-color-add);
}

.modal-form-submit {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  background-color: var(--accent-color-add);
  color: var(--white-color);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.modal-form-submit:hover {
  background-color: var(--accent-color);
}

/* -------Mob Menu-----=- */

.mob-menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 80px 40px 40px 40px;

  background-color: var(--white-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}
.mob-menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
}
.mob-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--additional-not-white-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.mob-btn-icon {
  fill: #000000;
}
.mob-btn:hover {
  background-color: var(--accent-color);
}
.mob-btn:hover .mob-btn-icon {
  fill: var(--white-color);
}
/* ==================Site navigation================== */

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-text-color);

  transition: color 250ms var(--timing-function);
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-menu-link.current {
  color: var(--accent-color);
}

/* ==================Adress================== */
.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-address-tel {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.11;

  color: var(--accent-color-add);
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--paragraph-text-color);

  transition: color 250ms var(--timing-function);
}
.mob-address-tel:hover,
.mob-address-tel:focus,
.mob-address-link:hover,
.mob-address-link:focus {
  color: var(--accent-color);
}

.mob-socials {
  display: flex;
  /* flex-wrap: wrap;
  gap: 56px; */
  justify-content: space-between;
}
.mob-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--accent-color-add);

  transition: background-color 250ms var(--timing-function);
}
.mob-socials-item:hover,
.mob-socials-item:focus {
  background-color: var(--accent-color);
}
.mob-socials-icon {
  fill: var(--not-white-color);
}

/* ==================Portfolio gallery================== */

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(var(--hero-bgc), var(--hero-bgc)),
      url(../images/01-hero/tab-hero-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--hero-bgc), var(--hero-bgc)),
        url("../images/01-hero/tab-hero-bg@2x.jpg");
    }
  }
  .mob-socials {
    gap: 56px;
    justify-content: center;
  }
  .footer-form-input {
    width: 398px;
  }
  .modal {
    width: 392px;
    height: 586px;
  }

  .privacy .modal-form-label {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /* @media screen and (orientation: landscape) {
    .modal {
      top: 70%;
      left: 50%;
    }
  } */
  .mob-address-tel {
    font-size: 36px;
  }
}
