/* ==================Components styles================== */

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid #434455; */
  /* - temporary container border */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================!!Section!! - common for all sections================== */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--paragraph-text-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* !!==================Header!!================== */

.header {
  border-bottom: 1px solid var(--additional-not-white-color);
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==================Logo================== */

.header-logo {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-logo-part {
  color: var(--accent-color-add);
}

/* ==================Site navigation================== */

.main-nav {
  display: flex;
  align-items: center;
}
.main-nav-list {
  display: flex;
}
.main-nav-item:not(:last-child) {
  margin-right: 40px;
}
.main-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--accent-color);
}

.main-nav-link.current {
  position: relative;

  color: var(--accent-color);
}
.main-nav-link.current::after {
  position: absolute;
  display: block;
  content: "";

  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/* ==================Adress================== */

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-link {
  color: var(--paragraph-text-color);

  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* !!==================Hero!!================== */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(var(--hero-bgc), var(--hero-bgc)),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--hero-bgc);

  text-align: center;
}
.hero-title {
  width: 496px;
  margin: 0 auto 48px;

  color: var(--white-color);

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  padding: 16px 32px;
  min-width: 169px;

  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--accent-color-add);
  color: var(--white-color);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.hero-button:hover {
  background-color: var(--accent-color);
}

/* ==================Features================== */

.features-subtitle {
  margin-top: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100%-72px) / 4);
}
.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;

  background-color: var(--not-white-color);
}

/* ==================We are We Doing================== */

.projects {
  padding-top: 0;
}
.projects-list {
  display: flex;
  justify-content: space-between;
}

/* ==================OurTeam================== */
.team {
  background-color: var(--not-white-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-content {
  padding: 32px 16px;

  text-align: center;
}
.team-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.team-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--accent-color-add);

  transition: background-color 250ms var(--timing-function);
}
.team-socials-item:hover,
.team-socials-item:focus {
  background-color: var(--accent-color);
}
.team-socials-icon {
  fill: var(--not-white-color);
}

/* ==================Customers section================== */

.customers {
  padding-top: 130px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  flex-basis: calc((100%-120px) / 6);
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 88px;
  border: 1px solid var(--customers-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}
.customers-icon {
  fill: var(--customers-color);

  transition: fill 250ms var(--timing-function);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

/* !!==================Footer!!================== */

.footer {
  padding-bottom: 100px;
  padding-top: 100px;

  background-color: var(--footer-bgc);
}
.footer-box {
  display: flex;
  align-items: flex-start;
}
.footer-item {
  margin-right: 120px;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;

  color: var(--not-white-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo-part {
  color: var(--accent-color-add);
}
.footer-text {
  margin-bottom: 0;
  margin-top: 0;
  width: 264px;

  color: var(--additional-not-white-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-socials-text {
  margin: 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--additional-not-white-color);
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
}
.footer-socials-item:not(:last-child) {
  margin-right: 16px;
}
.footer-socials-item:hover,
.footer-socials-item:focus {
  background-color: var(--not-green-color);
}
.footer-socials-icon {
  fill: var(--not-white-color);
}
.footer-subscribe {
  margin-left: 80px;
}
.footer-subscribe-text {
  margin: 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--additional-not-white-color);
}
.footer-form-wrap {
  margin-top: 16px;
  display: flex;
  justify-content: start;
  text-align: center;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: var(--additional-not-white-color);
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;

  background-color: var(--accent-color-add);
  color: var(--white-color);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.footer-form-submit:hover {
  background-color: var(--accent-color);
}

.footer-form-icon {
  fill: var(--white-color);
}
/* ===============Backdrop and Modal==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--white-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--additional-not-white-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.modal-btn-icon {
  fill: #000000;
}
.modal-btn:hover {
  background-color: var(--accent-color);
}
.modal-btn:hover .modal-btn-icon {
  fill: var(--white-color);
}

/* ======================Modal form===================== */
.contacts-details {
  margin: 0 auto 16px;

  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-form {
  width: 360px;
}
.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-form-field.comment {
  height: 120px;
  margin-bottom: 0;
}
.modal-form-field.privacy {
  margin: 16px 0 24px 0;
}
.modal-form-label {
  margin-bottom: 4px;
  padding: 0;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--customers-color);
}
.privacy .modal-form-label {
  margin-bottom: 0;
}

.modal-form-input {
  width: 100%;
  margin: 0;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  color: currentColor;
  background-color: transparent;

  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.modal-form-field.comment .modal-form-input {
  padding-left: 16px;
}
.modal-form-input:focus {
  border-color: var(--accent-color-add);
}
.input-wrap {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color-add);
}
.comment .modal-form-input {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.modal-form-input::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.privacy .modal-form-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--main-text-color);
  border-radius: 2px;
  text-align: center;

  fill: transparent;

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.modal-form-check:checked + .modal-form-label > .checkbox {
  border: none;

  background-color: var(--accent-color);
  fill: var(--not-white-color);
}
.modal-form-check:focus + .modal-form-label > .checkbox {
  border-color: var(--accent-color);
}
.modal-form-link {
  margin-left: 4px;

  text-decoration: underline;

  color: var(--accent-color-add);
}

.modal-form-submit {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  background-color: var(--accent-color-add);
  color: var(--white-color);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.modal-form-submit:hover {
  background-color: var(--accent-color);
}

/* !!!==================Portfolio Page==================!!! */
/* !!==================Portfolio section!!================== */

.portfolio {
  padding-top: 96px;
}

/* ==================Filter buttons================== */

.portfolio-nav-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--additional-not-white-color);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--accent-color-add);
  background-color: var(--not-white-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  background-color: var(--accent-color-add);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-nav {
  display: flex;
  justify-content: center;
}
.portfolio-nav-item:not(:last-child) {
  margin-right: 24px;
}

/* ==================Portfolio gallery================== */

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}

.portfolio-gallery-item {
  background-color: var(--white-color);
}
.portfolio-gallery-card {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-gallery-pic {
  position: relative;
  overflow: hidden;
}
.portfolio-pic-overlay {
  position: absolute;
  overflow: auto;
  margin: 0;
  padding: 40px 32px 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: var(--not-white-color);

  background-color: var(--accent-color-add);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.portfolio-gallery-card:hover,
.portfolio-gallery-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-gallery-card:hover .portfolio-pic-overlay,
.portfolio-gallery-card:focus .portfolio-pic-overlay {
  transform: translateY(0%);
}

.portfolio-card-descr {
  padding: 32px 16px;

  border-bottom: 1px solid var(--not-white-color);
  border-right: 1px solid var(--not-white-color);
  border-left: 1px solid var(--not-white-color);
}
