@import "../utils/var";
@import "../utils/placeholders";
@import "../utils/mixins";
.feature-section {
  @include section;
}
.feature-container {
  @extend %container;
}
.feature-title {
  @extend %visually-hidden;
}

.features-list {
  @extend %list;
  @include flexCentered;
  flex-wrap: wrap;
  row-gap: 72px;
}
.features-item {
  width: 100%;
}
.features-icon-box {
  display: none;
}
.features-subtitle {
  @include sectionTitle;
  font-weight: 700;
  margin-bottom: 8px;
}
.features-text {
  @include sectionText;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-subtitle {
    margin-top: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list {
    gap: 24px;
    align-items: flex-start;
  }
  .features-item {
    max-width: calc((100% - 72px) / 4);
  }
  .features-icon-box {
    @include flexCentered;
    border-radius: 4px;
    height: 120px;

    background-color: $colorNotWhite;
  }
  .features-text {
    font-weight: 400;
  }
}
